a {
    text-decoration: none;
}
body {
    width: 100%;
    height: 100%;
    font-family: Inter;
    margin: 0;
    background-color: rgb(61, 55, 55);
}
input{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid antiquewhite;
}
input[type=submit] {
    background-color: antiquewhite;
    border: none;
    color: rgb(61, 55, 55);
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    width: 250px;
    margin-bottom: 5px;
    border-radius: 25px;
    cursor: pointer;
}
nav {
    width: 100%;
    height: 50px;
    text-align: right;
    line-height: 1.5;
}
nav a {
    padding: 10px;
    line-height: 50px;
    color: blanchedalmond;
}
select {
    appearance: none;
    outline: 0;
    background: white;
    width: 35%;
    height: 30px;
    color: black;
    cursor: pointer;
    border: none;
}
textarea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    font-size: 14px;
    border-bottom: 1px solid antiquewhite;
    resize: none;
}
/* classes */
.bg-landing {
    background-image: url("background.jpg");
    height: 400px;
    background-attachment: fixed;
    background-size: cover;
}
.bgcolor {
    background-color: rgb(80, 69, 69);
}
.black {
    background-color: black;
}
.bottom {
    padding-bottom: 80px;
}
.button {
    font-family: 'Orbitron', sans-serif;
    background-color: #64278f;
    color: white;
    border: solid black 0.5px;
    width: 100%;
    border-radius: 5px;
    height: 70%;
    outline: none;
}
.button-calc {
    font-family: 'Orbitron', sans-serif;
    background-color: #64278f;
    color: white;
    border: solid black 0.5px;
    width: 95%;
    border-radius: 5px;
    height: 70%;
    outline: none;
}
.button:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}
.button-calc:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}
.calculator {
    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 400px;
    margin: auto;
    background-color: #191b28;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.card {
    width: 94%;
    margin-left: 3%;
    margin-top: 5%;
    position: relative;
    float: left;
    padding-bottom: 30px;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
}
.center {
    text-align: center;
}
.col-1 {
    width: 8.33%;
    position: relative;
    float: left;
}
.col-2 {
    width: 16.66%;
    position: relative;
    float: left;
}
.col-3 {
    width: 25%;
    position: relative;
    float: left;
}
.col-4 {
    width: 33.33%;
    position: relative;
    float: left;
}
.col-6 {
    width: 50%;
    position: relative;
    float: left;
}
.col-8 {
    width: 66.66%;
    position: relative;
    float: left;
}
.col-9 {
    width: 75%;
    position: relative;
    float: left;
}
.col-10 {
    width: 83.33%;
    position: relative;
    float: left;
}
.col-12 {
    width: 100%;
    position: relative;
    float: left;
}
.contact-bg {
    background-image: url("contact.jpg");
    height: 300px;
    background-attachment: fixed;
    background-size: cover;
}
.container {
    width: 94%;
    position: relative;
    float: left;
    margin-left: 3%;
    text-align: center;
}
.dark-scarf {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}
.display-box {
    font-family: 'Orbitron', sans-serif;
    background-color: #dcdbe1;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 65%;
}
.display-box-calc {
    font-family: 'Orbitron', sans-serif;
    background-color: #dcdbe1;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 95%;
    height: 65%;
}
.down-1 {
    margin-top: 1%;
}
.down-2 {
    margin-top: 2%;
}
.down-3 {
    margin-top: 3%;
}
.down-5 {
    margin-top: 5%;
}
.down-7 {
    margin-top: 7%;
}
.down-10 {
    margin-top: 10%;
}
.img-container {
    width: 250px;
    height: 500px;
    margin-left: 130px;
    display: inline-block;
}
.left {
    margin-left: 100px;
}
.login-bg {
    background-image: url("login.png");
    height: 500px;
    background-attachment: fixed;
    background-size: cover;
}
.login-box {
    height: 350px;
    width: 250px;
    background-color: #FFFF;
    border: 0.5px solid #FB3796;
    border-radius: 15px;
    padding: 50px;
    margin: auto;
    margin-top: 5%;
}
.mother {
    width: 100%;
    position: relative;
    float: left;
}
.off-1 {
    margin-left: 8.33%;
}
.off-2 {
    margin-left: 16.66%;
}
.off-7 {
    margin-left: 58.33%;
}
.px20 {
    font-size: 20px;
    font-weight: 400;
}
.px22 {
    font-size: 22px;
    font-weight: 800;
}
.px30 {
    font-size: 30px;
}
.px40 {
    font-size: 40px;
    font-weight: 800;
}
.px50 {
    font-size: 50px;
    font-weight: 900;
}
.white {
    color: antiquewhite;
}
/* footer styling */
#footer {
    width: 100%;
    height: 30px;
    text-align: center;
}